.cookie {
    position: -webkit-sticky;
    position: sticky;
    width: 240px;
    bottom: 20px;
    background: rgba(255, 255, 0, .91);
    backdrop-filter: blur(4px);
    color: black;
    font-weight: bold;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    z-index: 9;
    box-shadow: 4px 4px rgba(0, 0, 0, .5);
    transition: all 1s ease-in-out;

    @media screen and (min-width: 768px) {
        margin-right: 20px;
    }

    button {
        width: auto;
        margin: 20px auto 0;
        padding: 0 20px;
    }

    .bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        button:not(:first-child) {
            background: grey;
        }
    }
}