.laps-table {
    width: 100%;

    th {
        text-align: center;
        background: transparent;
        width: 33%;;
    }

    td {
        text-align: center;
        color: black;
        width: 33%;
    }

    tr {
        vertical-align: top;
    }
}