.loading {
	display: block;
	position: relative;
    width: 64px;
    height: 64px;
	border-radius: 32px;
	margin: 0 auto;
	box-shadow: 4px 4px rgba(0, 0, 0, .5);
}

.loading:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	box-sizing: border-box;
	border: 32px solid #fff;
	border-color: gold black gold black;
	animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
	0% {
	  transform: rotate(0);
	  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
	  transform: rotate(900deg);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
	  transform: rotate(1800deg);
	}
}
