.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        backdrop-filter: blur(5px);
    }

    &__controls {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;
        width: auto;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border-radius: 0.5rem;
        padding: 1rem;
        width: 90%;
        max-width: 600px;
        max-height: 90%;
        overflow-y: auto;
    }
}