@import '../variables';

.pilots {
	padding-right: 3em;

    .class {
        margin-top: 3em;
    }

    .class:first-child {
        margin-top: 0;
    }

    .pilot {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        padding: 2em 4em 0 0;
        box-sizing: border-box;
        order: attr(data-place);
        opacity: .3;

        &.-paid {
            opacity: 1;
        }
        
        .name {
            font-size: 1,2em;
            line-height: 1em;
            font-weight: 900;
            text-transform: uppercase;
            font-style: italic;
            display: block;
        }

        .number {
            position: absolute;
            top: .5em;
            right: 0;
            padding: 0;
            text-align: center;
            background: white url(/number.svg);
            font-family: Bebas;
            font-weight: 900;
            font-style: normal;
            font-size: 20px;
            color: black;
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            display: block;
            font-size: 1.5em;
            line-height: 2.47em;
            text-align: center;
            text-shadow: none;
        }

        .mark {
            position: absolute;
            top: .5em;
            width: 2.5em;
            display: block;
            font-size: 1.5em;
            right: -2em;

            img {
                max-width: 2.5em;
                max-height: 2.5em;
            }
        }
        
        .model,
        .volume,
        .engine,
        .turbo,
        .type,
        .tyres {
            font-family: Gotham;
            font-size: 1em;
            font-weight: normal;
            font-style: italic;
            display: inline-block;
            margin-right: 0.2em;
        }
    }
}
