.popup {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: top 100ms ease-in-out, opacity 200ms ease-in-out;
}
.popup ins {
    position: absolute;
    border-radius: 50%;
    width: 11vw;
    height: 11vw;
    /* background: black; */
    border: 1px solid white;
    top: 0;
    right: 0;
    font-size: 8vw;
    line-height: 11vw;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.popup ins:before {
    content: '×';
}
.popup.-presented {
    top: 20em;
}
.popup:before {
    content: '';
    position: fixed;
    top: 100%;
    left: 2em;
    right: 2em;
    bottom: 0;
    z-index: 0;
    background: black;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: top 100ms ease-in-out, opacity 200ms ease-in-out;
}
.popup.-presented:before {
    top: 24em;
}
.-midnightblue:before {
    background: midnightblue;
    background: rgb(2,0,36);
    background: linear-gradient(-60deg, rgba(2,0,36,1) 0%, rgba(1,87,126,1) 19%, rgba(0,162,203,1) 26%, rgba(0,125,164,1) 26%, rgba(9,9,121,1) 28%, rgba(2,19,55,1) 40%, rgba(6,25,112,1) 46%, rgba(0,190,233,1) 47%, rgba(2,31,68,1) 47%, rgba(8,11,110,1) 51%, rgba(1,56,94,1) 55%, rgba(1,69,106,1) 63%, rgba(0,212,255,1) 63%, rgba(5,93,176,1) 72%, rgba(9,9,121,1) 74%, rgba(1,56,94,1) 86%);
}
.-black:before {
    background: black;
    background: rgb(0,0,0);
    background: linear-gradient(-60deg, rgba(0,0,0,1) 6%, rgba(144,143,143,1) 17%, rgba(55,55,55,1) 17%, rgba(0,0,0,1) 18%, rgba(62,62,62,1) 29%, rgba(0,0,0,1) 30%, rgba(52,52,52,1) 43%, rgba(0,0,0,1) 50%, rgba(77,76,76,1) 53%, rgba(64,64,64,1) 53%, rgba(24,24,24,1) 63%, rgba(0,0,0,1) 81%);
}
.-snow:before {
    background: snow;
    background: rgb(255,255,255);
    background: linear-gradient(-60deg, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 6%, rgba(224,255,254,1) 10%, rgba(252,252,252,1) 17%, rgba(215,237,237,1) 21%, rgba(236,255,255,1) 24%, rgba(242,255,255,1) 39%, rgba(219,237,246,1) 41%, rgba(225,248,247,1) 50%, rgba(244,244,244,1) 55%, rgba(229,238,238,1) 59%, rgba(246,246,246,1) 59%, rgba(255,255,255,1) 72%, rgba(231,237,237,1) 74%, rgba(255,255,255,1) 85%);
}
.-silver:before {
    background: silver;
    background: rgb(186,186,186);
    background: linear-gradient(-60deg, rgba(186,186,186,1) 12%, rgba(116,116,116,1) 16%, rgba(186,186,186,1) 17%, rgba(148,147,147,1) 34%, rgba(204,204,204,1) 40%, rgba(249,249,249,1) 44%, rgba(157,156,156,1) 57%, rgba(255,255,255,1) 57%, rgba(167,167,167,1) 81%);
}
.-grey:before {
    background: grey;
    background: rgb(106,106,106);
    background: linear-gradient(61deg, rgba(106,106,106,1) 12%, rgba(77,77,77,1) 16%, rgba(142,142,142,1) 17%, rgba(111,111,111,1) 34%, rgba(135,135,135,1) 40%, rgba(164,164,164,1) 44%, rgba(157,156,156,1) 57%, rgba(138,138,138,1) 57%, rgba(167,167,167,1) 81%);
}
.-darkslategray:before {
    background: darkslategray;
    background: rgb(47,79,79);
    background: linear-gradient(-60deg, rgba(47,79,79,1) 5%, rgba(47,79,79,1) 16%, rgba(53,108,108,1) 20%, rgba(56,122,122,1) 25%, rgba(64,156,156,1) 25%, rgba(59,133,133,1) 28%, rgba(57,94,94,1) 43%, rgba(58,101,101,1) 52%, rgba(51,87,87,1) 56%, rgba(47,79,79,1) 59%, rgba(42,124,124,1) 59%, rgba(47,79,79,1) 75%, rgba(47,79,79,1) 92%);
}
.-darkslateblue:before {
    background: darkslateblue;
    background: rgb(72,77,139);
    background: linear-gradient(-60deg, rgba(72,77,139,1) 0%, rgba(57,58,76,1) 16%, rgba(63,66,104,1) 22%, rgba(80,86,164,1) 23%, rgba(61,64,96,1) 27%, rgba(78,84,159,1) 39%, rgba(97,102,157,1) 41%, rgba(81,87,168,1) 52%, rgba(53,53,62,1) 53%, rgba(72,77,139,1) 69%, rgba(88,94,163,1) 80%, rgba(72,77,139,1) 80%, rgba(72,77,139,1) 85%);
}
.-blue:before {
    background: blue;
    background: rgb(14,101,176);
    background: linear-gradient(-60deg, rgba(14,101,176,1) 0%, rgba(21,65,121,1) 25%, rgba(15,120,167,1) 26%, rgba(28,90,165,1) 34%, rgba(46,100,143,1) 41%, rgba(34,81,117,1) 53%, rgba(24,111,179,1) 54%, rgba(16,67,106,1) 57%, rgba(42,121,145,1) 64%, rgba(23,87,136,1) 65%, rgba(21,98,158,1) 83%, rgba(10,113,193,1) 84%);
}
.-royalblue:before {
    background: royalblue;
}
.-steelblue:before {
    background: steelblue;
}
.-red:before {
    background: red;
    background: rgb(255,0,0);
    background: linear-gradient(61deg, rgba(255,0,0,1) 0%, rgba(219,96,96,1) 21%, rgba(254,40,40,1) 23%, rgba(186,35,35,1) 35%, rgba(182,12,12,1) 41%, rgba(255,101,101,1) 45%, rgba(184,0,0,1) 54%, rgba(224,15,15,1) 56%, rgba(240,82,82,1) 77%, rgba(176,24,24,1) 79%, rgba(219,37,37,1) 82%, rgba(200,25,25,1) 89%, rgba(255,0,0,1) 100%);
}
.-crimson:before {
    background: crimson;
    background: rgb(36,0,0);
    background: linear-gradient(-60deg, rgba(36,0,0,1) 0%, rgba(126,1,1,1) 14%, rgba(164,0,0,1) 20%, rgba(255,0,0,1) 28%, rgba(121,9,9,1) 28%, rgba(91,0,0,1) 39%, rgba(213,0,0,1) 43%, rgba(221,0,0,1) 51%, rgba(255,109,0,1) 51%, rgba(221,0,0,1) 55%, rgba(255,0,0,1) 59%, rgba(255,83,0,1) 59%, rgba(176,5,76,1) 72%, rgba(121,12,9,1) 74%, rgba(73,0,0,1) 85%);
}
.-darkred:before {
    background: darkred;
    background: rgb(139,0,0);
    background: linear-gradient(-60deg, rgba(139,0,0,1) 4%, rgba(54,5,19,1) 14%, rgba(94,0,0,1) 24%, rgba(167,12,12,1) 26%, rgba(147,10,10,1) 26%, rgba(122,18,58,1) 30%, rgba(87,2,2,1) 38%, rgba(139,0,0,1) 50%, rgba(102,10,10,1) 54%, rgba(133,39,65,1) 54%, rgba(92,2,2,1) 62%, rgba(92,4,4,1) 71%, rgba(139,0,0,1) 81%);
}
.-brown:before {
    background: brown;
}
.-yellow:before {
    background: yellow;
}
.-gold:before {
    background: gold;
    background: rgb(255,173,0);
    background: linear-gradient(-60deg, rgba(255,173,0,1) 0%, rgba(255,227,0,1) 19%, rgba(255,194,0,1) 19%, rgba(255,186,0,1) 38%, rgba(255,230,0,1) 41%, rgba(255,189,0,1) 42%, rgba(255,224,0,1) 51%, rgba(234,255,129,1) 55%, rgba(255,225,0,1) 85%, rgba(255,211,0,1) 86%, rgba(255,237,0,1) 100%);
}
.-darkolivegreen:before {
    background: darkolivegreen;
}
.-green:before {
    background: green;
}
.-seagreen:before {
    background: seagreen;
}
.-lightskyblue:before {
    background: lightskyblue;
}
.-lightsteelblue:before {
    background: lightsteelblue;
}
.-lightyellow:before {
    background: lightyellow;
}
.-limegreen:before {
    background: limegreen;
}
.-greenyellow {
    background: greenyellow;
}
.-transparent:before {

}

.popup .racer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 8em 0 8em 15vw;
    box-sizing: border-box;
    height: 75vh;
}

@media screen and (max-width: 767px) {
    .popup .racer {
        height: auto;
    }
}

.popup .racer:before {
    content: attr(data-place);
    display: block;
    position: absolute;
    top: -2vw;
    left: -2vw;
    background: black;
    color: white;
    border-radius: 50%;
    border: 1vw solid black;
    width: 5vw;
    height: 5vw;
    font-size: 4vw;
    font-weight: bold;
    line-height: 5vw;
    text-align: center;
    text-shadow: none;
    z-index: 1;
}
.popup.-white .racer .model,
.popup.-white .racer .volume,
.popup.-white .racer .turbo,
.popup.-white .racer .lap,
.popup.-snow .racer .model,
.popup.-snow .racer .volume,
.popup.-snow .racer .turbo,
.popup.-snow .racer .lap {
    color: black;
    text-shadow: 0.5vw 0.5vw 0 silver;
}

.popup .racer div:not(.number) {
    padding: 1vw;
}

.popup .driver {
    
}

.popup .racer div.round {
    padding: 2vw;
}

.popup .racer.points[data-place="1"]:before {
    color: gold;
    background: gold;
    text-shadow: .1vw .1vw 0 #000;
}
.popup .racer.points[data-place="2"]:before {
    color: silver;
    background: silver;
    text-shadow: .1vw .1vw 0 #000;
}
.popup .racer.points[data-place="3"]:before {
    color: darkorange;
    background: darkorange;
    text-shadow: .1vw .1vw 0 #000;
}
.popup .racer:after {
    content: attr(data-points);
    display: block;
    position: absolute;
    top: -999px;
    right: 12vw;
    font-weight: 900;
    font-style: italic;
    background: springgreen;
    color: white;
    border-radius: 50%;
    border: 1vw solid white;
    margin-left: -.5vw;
    width: 1vw;
    height: 1vw;
    font-size: .1vw;
    line-height: 1vw;
    text-align: center;
    text-shadow: .1vw .1vw 0 #000;
    z-index: 1;
    opacity: 0;
    transition: top .5s ease-in-out, opacity .2s ease-out;
}
.popup .racer.points:after {
    top: 9vw;
    opacity: 1;
}
.popup .racer.points[data-points="10"]:after {
    width: 10vw;
    height: 10vw;
    font-size: 8vw;
    line-height: 10vw;
    top: 2vw;
    right: 5vw;
    background: pink;
}
.popup .racer.points[data-points="8"]:after {
    width: 8vw;
    height: 8vw;
    font-size: 7vw;
    line-height: 8vw;
    top: 3vw;
    right: 6vw;
    background: aqua;
}
.popup .racer.points[data-points="6"]:after {
    width: 6vw;
    height: 6vw;
    font-size: 6.5vw;
    line-height: 6vw;
    top: 4vw;
    right: 7vw;
    background: lemonchiffon;
}
.popup .racer.points[data-points="5"]:after {
    width: 5vw;
    height: 5vw;
    font-size: 4vw;
    line-height: 5vw;
    top: 5vw;
    right: 8vw;
    background: lightsteelblue;
}
.popup .racer.points[data-points="4"]:after {
    width: 4vw;
    height: 4vw;
    font-size: 3vw;
    line-height: 4vw;
    top: 6vw;
    right: 9vw;
    background: dimgrey;
}
.popup .racer.points[data-points="3"]:after {
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    line-height: 3vw;
    top: 7vw;
    right: 10vw;
    background: darkseagreen;
}
.popup .racer.points[data-points="2"]:after {
    width: 2vw;
    height: 2vw;
    font-size: 1.5vw;
    line-height: 2vw;
    top: 8vw;
    right: 11vw;
    background: cadetblue;
}
.popup .racer div {
    flex-wrap: wrap;
    width: auto;
}
/*
.popup .racer div:not(.driver):not(.time):not(.number):not(.round) {
    margin-top: -1vw;
    font-size: 4vw;
    font-weight: normal;
    font-style: italic;
}
*/
.popup .racer .driver {
    max-width: 55vw;
    position: absolute;
    font-weight: 700;
    font-style: italic;
    top: 0;
    left: 15vw;
    font-size: 6vw;
    line-height: 6vw;
}
.popup .racer .time {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 20wv;
    text-align: right;
    align-self: center;
    margin-left: auto;
    font-size: 10vw;
}

.popup .racer .number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;
    background: white url(/number.svg);
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    color: black;
    border-radius: 50%;
    width: 14vw;
    height: 14vw;
    display: block;
    font-size: 6vw;
    line-height: 14vw;
    text-align: center;
    text-shadow: none;
}
.popup .racer .mark {
    position: absolute;
    top: 10vw;
    left: 6vw;
    width: 20vw;
    margin-left: -10vw;
    display: block;
}
.popup .racer .mark img {
    max-width: 20vw;
    max-height: 10vw;
}
.popup .racer .volume {
    
    text-align: left;
}
.popup .racer .turbo {
    flex-basis: 20%;
}

.popup .racer .model,
.popup .racer .volume,
.popup .racer .turbo {
    font-family: Gotham;
    font-size: 4vw;
    font-weight: normal;
    font-style: italic;
}

.popup .racer .power {
    
}
.popup .racer .round {
    width: 25vw;
    margin: auto;
    text-align: center;
    display: block;
    font-size: 5.3vw;
    font-weight: 900;
    font-style: italic;
    padding: 0 1vw;
    margin: 0 1vw 0 -1vw;
    position: absolute;
    
    background: transparent;
}



/*
.round:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: skew(-15deg);
    background: transparent;
    z-index: -1;
}
*/
.popup .racer .round[data-number="1"] {	
    left: 14vw;
}
.popup .racer .round[data-number="2"] {
    left: 42vw;
}
.popup .racer .round[data-number="3"] {
    left: 70vw;
}
.popup .racer div.laps,
.popup .racer .laps div {
    padding: 0;
}

.popup .racer div.lap {
    padding: 2vw;
}


.popup .laps {
    position: absolute;

    top: 6em;
    left: 15vw;
    right: 0;
    bottom: 5em;
    overflow-y: auto;
    font-size: 2em;
    line-height: 2em;
    min-height: 3em;
}
.popup .-round {
    position: absolute;
    top: 0;
}
.popup .lap {
    text-align: center;
    background: rgba(0, 255, 127, 0);
    transition: background 1s ease-in-out;

    margin: auto;
    display: block;
    font-size: 5.3vw;
    font-weight: 900;
    font-style: italic;
    padding: 0 1vw;
    margin: 0 1vw 0 -1vw;
    background: transparent;
}

@media screen and (min-width: 768px) {
    .popup {
        top: 100%;
    }
    .popup:before {
        top: 100%;
    }
    .popup .racer .round {
        bottom: 0;
    }
    .popup .racer .laps {
        top: 6em;
    }

    .popup.-presented {
        top: 5vh;
    }

    .popup.-presented:before {
        top: calc(5vh + 5em);
    }

    .popup .racer .number {

    }
}

.popup .-round[data-number="1"] {
    left: 0;
}
.popup .-round[data-number="2"] {
    left: 28vw;
}
.popup .-round[data-number="3"] {
    left: 56vw;
}
