section.results {
    background: rgba(0, 0, 0, .8);
    color: #DDD;
	width: 100%;
    max-width: none;
	margin-left: 0;
	margin-right: 0;
    padding: 0;
    backdrop-filter: blur(20px);

    @media screen and (max-width: 768px) {
        font-size: 4vw;
        line-height: 5.2vw;
    }

    article {
        padding: 20px 40px 40px;

        @media screen and (max-width: 768px) {
            padding: 50px 20px 20px;
        }
    }

    table {
        font-size: 1em;
        line-height: 1.2em;
        position: relative;
        border-collapse: collapse; 
        width: 100%;
    }
    
    thead {
        z-index: 11;

        @supports (-webkit-touch-callout: none) {
            position: sticky;
            top: 1.7em;

            box-shadow: 4px 4px rgba(0, 0, 0, .5);
        }

        &:first-child {
            @supports (-webkit-touch-callout: none) {
                top: 0;
            }
            th {
                top: 0;
                background: #333;

                color: white;
                max-width: 50vw;

                .bright & {
                    background: #fff;
                }
            }
        }

        &:not(:first-child) {
            th {
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-shadow: 4px 4px rgba(0, 0, 0, .5);
                }
            }
        }

        th {
            position: sticky;
            top: 1.7em;
            z-index: 11;
    
            background: #444;
    
            box-sizing: border-box;

            @supports (-webkit-touch-callout: none) {
                position: static;

                box-shadow: 4px 4px rgba(0, 0, 0, .5);
            }

            .bright & {
                background: #DDD;
            }
        }
    }
    
    th {
        &::after {
            display: inline-block;
            width: 1em;
        }
    }

    
    thead:first-child th:not([data-sort]):after {
       content: '⇵';
       
       color: grey;
    }
    
    .bright thead:first-child th:not([data-sort]):after {
       color: silver;
    }
    
    thead:first-child th:not([data-sort])[data-sort-default="desc"]:after {
        content: '⇅';
    }
    
    thead:first-child th[data-sort]:after {
       content: '⇕';
       color: yellow;
    }
    
    thead:first-child th[data-sort="asc"]:after {
        content: '⇓';
        color: red;
    }
    
    thead:first-child th[data-sort="desc"]:after {
        content: '⇑';
        color: #08F;
    }
    tr[data-place] {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, .1);

        /*
        td:not(.car) {
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                height: 1px;
                background: rgba(255, 255, 255, .1);
            }
        }
        */
    }
    thead tr:before {
        content: '';
        display: table-cell;
        
    }
    tr[data-place]:before {
        content: attr(data-place);
        position: absolute;
        color: grey;
        z-index: 0;
        text-align: right;
        width: 1em;
        
    }
    tbody td {
        text-align: right;
        max-width: 20%;

        &.car {
            text-align: right;
        }

        &.round {
            padding-right: 1.2em;

            @media screen and (max-width: 768px) {
                padding-right: 0;
                text-align: center;
            }

            &:empty:before {
                content: '0';
            } 
        }
    }
    tbody td:first-child {
        padding-left: 2em;
        text-align: left;
        max-width: 25vw;
    
        color: white;
    }
    
    .bright tr[data-place] td:first-child {
        color: black;
    }
    
    tr[data-place] td:last-child {
        color: springgreen;
    }
    
    .bright thead th {
        background: silver;

        &.round {
            text-align: right;
        }
    }
    
    thead:first-child th {
        cursor: pointer;
    }
    
    table .mark,
    table .turbo,
    table .car,
    table .total {
        text-align: center;
    }
    table .model,
    table .turbo,
    table .type,
    table .tyres {
        text-align: left;
    }
    
    table .volume {
        text-align: right;
    }
    
    table .car {
        width: 2em;
    }
    
    @media screen and (max-width: 768px) {
        table tr {
            position: relative;
        }
    
        table th.car {
            font-size: .5em;
        }

        table .mark {
            top: 0;
            left: 20vw;
        }
    }

    .buttonbar {
        display: flex;
        justify-content: end;

        opacity: 0.3;

        button {
            font-size: 0.5em;
            width: auto;
            display: inline-block;
            margin: 0 20px;
            background: transparent;
        }
    }
}



.sequence {
    display: flex;
    padding: 1em 0;

    .numbers {

    }

    span {
        order: 99;
        margin-left: .5em;
        white-space: normal;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .numbers {
            order: 2;
            margin-top: 5vw;
            margin-bottom: 5vw;
        }

        span {
            order: 1;
        }
    }

}

figure {
    display: inline-block;
    margin: 0;
    padding: 0;
}

figure.number {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;

    font-weight: 900;
    font-style: italic;
    color: black;

    display: inline-block;
    text-align: center;
    text-shadow: none;

    height: 1.2em;
    
    & + .number{
        margin-left: -1em;

        @media screen and (max-width: 768px) {
            margin-left: -8vw;
            height: 5.2vw;
        }

        .team & {
            margin-left: -.2em;

            @media screen and (max-width: 768px) {
                margin-left: -2vw;
            }
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        background: white url(/number.svg);
        border-radius: 50%;
        width: 2em;
        height: 2em;
        left: 0;
        top: -.5em;

        @media screen and (max-width: 768px) {
            width: 12vw;
            height: 12vw;
            left: 0;
            top: -3.5vw;
        }
    }

    &[data-turbo]:after {
        color: red;
    }
    &[data-tyres="<180"]:after {
        border-color: brown;
    }
    &[data-type="Track"]:after {
        border-color: silver;
    }
    &[data-tyres="<180"][data-type="Track"]:after {
        border-color: gold;
    }

    figcaption {
        display: inline-block;
        position: relative;
        width: 2em;

        font-family: Bebas, Helvetica, sans-serif;
        font-style: normal;
    
        font-size: 1em;
        line-height: 1em;

        @media screen and (max-width: 768px) {
            font-size: 5vw;
            width: 12vw;
        }
    }

    img {
        position: absolute;
        bottom: -6vw;
        left: 50%;
        height: 5vw;
        margin-left: -2.5vw;
        display: block;

        @media screen and (max-width: 768px) {
            bottom: -6vw;
            left: 50%;
            height: 5vw;
            margin-left: -2.5vw;
        }
    }
}

figure.mark {
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;

    font-weight: normal;
    font-style: italic;

    height: 2em;

    @media screen and (max-width: 768px) {
        display: inline-block;
    }

    figcaption {
        order: 1;
        line-height: 1em;
        margin-top: .5em;
        margin-left: .5em;
        position: relative;

        @media screen and (max-width: 768px) {
            font-size: 3vw;
            line-height: 2vw;
            margin-left: 0;
            margin-top: -4em;
        }

        .mark {
            display: none;
        }
    }

    img {
        order: 0;

        width: 2em;
        height: 2em;
    
        @media screen and (max-width: 768px) {
            width: 5.2vw;
            height: 5.2vw;

            position: absolute;
            left: 0;
        }
    }
}
