.supporters {
	list-style-type: none;
	margin: 40px 0;
	padding: 0;
	display: flex;
	align-items: center;
    align-content: space-between;
	flex-wrap: wrap;
	gap: 20px;

	li {
		margin: 10px 0;
		flex: 1;
		align-items: center;
		text-align: center;

		a {
			&.-kruze {
				padding-left: 30px;

				@media screen and (max-width: 470px) {
					padding-left: 9vw;
				}
			}

			img {
				
				max-width: 141px;
				max-height: 53px;
				
				@media screen and (max-width: 470px) {
					max-width: 26vw;
					max-height: 12vw;
				}
			}
		}
	}
}
