section.time {
    background: rgba(0, 0, 0, .8);
    color: #DDD;
	width: 100%;
    max-width: none;
	margin: 0;
    padding: 0;
    backdrop-filter: blur(20px);

    header {
        padding: 0 40px;

        h2 {
            font-size: 3em;

            margin: 10px 0 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

td.bestlap {
    background: springgreen;
    color: black;
}

.time {

    @media screen and (min-width: 1900px) {
        display: flex;
    }

    table,
    thead,
    tbody,
    tr {
        width: 100%;
    }
    table {
        position: relative;
        padding: 2vw;
    }
    tbody {

    }
    tr {
        
    }
    td {
        padding: .1em;
    }

    table {
        position: relative;
        border-collapse: collapse;

        @media screen and (min-width: 1900px) {
            flex: 3;
            align-self: baseline;
        }
    }
    .round {
        text-align: center;
        background: rgba(0, 255, 127, 0);
        transition: opacity 1s ease-in-out;
        font-family: 'Bebas Neue';
        font-size: 1.5em;
    }

    .round.bestlap {
        text-shadow: none;
        color: black;
    }

    .round:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: .2em 1em;
        transform: skew(-15deg);
        z-index: -1;
        background: rgba(0, 255, 127, 0);
        transition: background 1s ease-in-out;
    }

    @media screen and (max-width: 767px) {
        body {

        }
        table,
        .popup {
            text-shadow: .5vw .5vw 0 #000;
        }
        table,
        thead,
        tbody,
        tr,
        th,
        td {
            display: flex;
        }
        thead,
        thead tr,
        th {
            justify-content: center;
        }
        td:empty {
            padding: 0;
        }
        table,
        thead,
        tbody,
        tr {
            width: 100%;
            max-width: 100vw;
        }
        table {
            flex-wrap: wrap;
            flex-direction: column;
            padding: 0;
        }
        thead,
        tbody {
            flex-direction: column;
        }

        td.place,
        td.points {
            display: none;
        }

        .racer {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            position: relative;
            padding: 6vw 0 8vw 15vw;
            box-sizing: border-box;
            line-height: 7vw;
            order: attr(data-place);
            margin-bottom: 5vw;
            top: auto !important;
            position: relative !important;
        }
        [data-realtime="no"] .racer::before {
            content: attr(data-place);
            display: block;
            position: absolute;
            top: -2vw;
            left: -2vw;
            background: black;
            color: white;
            border-radius: 50%;
            border: 1vw solid black;
            width: 5vw;
            height: 5vw;
            font-size: 4vw;
            font-weight: bold;
            line-height: 5vw;
            text-align: center;
            text-shadow: none;
            z-index: 1;
        }
        .racer.points[data-place="1"]:before {
            color: gold;
            background: gold;
            text-shadow: .1vw .1vw 0 #000;
        }
        .racer.points[data-place="2"]:before {
            color: silver;
            background: silver;
            text-shadow: .1vw .1vw 0 #000;
        }
        .racer.points[data-place="3"]:before {
            color: darkorange;
            background: darkorange;
            text-shadow: .1vw .1vw 0 #000;
        }
        [data-realtime="no"] .racer:after {
            content: attr(data-points);
            display: block;
            position: absolute;
            top: -999px;
            right: 12vw;
            font-family: Gotham;
            font-weight: 900;
            font-style: italic;
            background: springgreen;
            color: white;
            border-radius: 50%;
            border: 1vw solid white;
            margin-left: -.5vw;
            width: 1vw;
            height: 1vw;
            font-size: .1vw;
            line-height: 1vw;
            text-align: center;
            text-shadow: .1vw .1vw 0 #000;
            z-index: 1;
            opacity: 0;
            transition: top .5s ease-in-out, opacity .2s ease-out;
        }
        .racer.points:after {
            top: 9vw;
            opacity: 1;
        }
        .racer.points[data-points="10"]:after {
            width: 10vw;
            height: 10vw;
            font-size: 8vw;
            line-height: 10vw;
            top: 2vw;
            right: 5vw;
            background: pink;
        }
        .racer.points[data-points="8"]:after {
            width: 8vw;
            height: 8vw;
            font-size: 7vw;
            line-height: 8vw;
            top: 3vw;
            right: 6vw;
            background: aqua;
        }
        .racer.points[data-points="6"]:after {
            width: 6vw;
            height: 6vw;
            font-size: 6.5vw;
            line-height: 6vw;
            top: 4vw;
            right: 7vw;
            background: lemonchiffon;
        }
        .racer.points[data-points="5"]:after {
            width: 5vw;
            height: 5vw;
            font-size: 4vw;
            line-height: 5vw;
            top: 5vw;
            right: 8vw;
            background: lightsteelblue;
        }
        .racer.points[data-points="4"]:after {
            width: 4vw;
            height: 4vw;
            font-size: 3vw;
            line-height: 4vw;
            top: 6vw;
            right: 9vw;
            background: dimgrey;
        }
        .racer.points[data-points="3"]:after {
            width: 3vw;
            height: 3vw;
            font-size: 2vw;
            line-height: 3vw;
            top: 7vw;
            right: 10vw;
            background: darkseagreen;
        }
        .racer.points[data-points="2"]:after {
            width: 2vw;
            height: 2vw;
            font-size: 1.5vw;
            line-height: 2vw;
            top: 8vw;
            right: 11vw;
            background: cadetblue;
        }
        td {
            flex-wrap: wrap;
        }
        td:not(.driver):not(.time):not(.number):not(.round) {
            margin-top: -1vw;
            font-size: 4vw;
            font-weight: normal;
            font-style: italic;
        }
        .driver {
            position: absolute;
            font-weight: 700;
            font-style: italic;
            top: 0;
            left: 15vw;
            font-size: 6vw;
            line-height: 6vw;
        }
        .time {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 20vw;
            text-align: right;
            align-self: center;
            margin-left: auto;
            font-size: 10vw;
        }

        .number {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            text-align: center;
            background: white url(/number.svg);
            font-weight: 900;
            font-size: 20px;
            font-style: normal;;
            color: black;
            border-radius: 50%;
            width: 14vw;
            height: 14vw;
            display: block;
            font-size: 6vw;
            line-height: 14vw;
            font-family: Bebas;
            text-align: center;
            text-shadow: none;
        }
        .mark {
            position: absolute;
            top: 10vw;
            left: 6.7vw;
            width: 20vw;
            margin-left: -10vw;
            display: block;
        }
        .mark img {
            max-width: 20vw;
            max-height: 10vw;
        }
        .volume {
            
            text-align: left;
        }
        .turbo {
            flex-basis: 20%;
        }

        .model,
        .volume,
        .turbo {
            font-family: Gotham;
            font-size: 4vw;
            font-weight: normal;
            font-style: italic;
        }

        .power {
            
        }
        .round {
            width: 25vw;
            margin: auto;
            text-align: center;
            display: block;
            font-size: 7vw;
            font-weight: 900;
            font-style: italic;
            padding: 0 1vw;
            margin: 0 1vw 0 -1vw;
            position: absolute;
            bottom: 2vw;
            background: transparent;
        }
        /*
        .round:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: skew(-15deg);
            background: transparent;
            z-index: -1;
        }
    */
        .round[data-number="1"] {
            left: 14vw;
        }
        .round[data-number="2"] {
            left: 42vw;
        }
        .round[data-number="3"] {
            left: 70vw;
        }
        /*
        
        .bestlap:before {
            background: rgba(0, 255, 127, 1);
            opacity: 1;
        
            text-shadow: none;
            color: black;
        }
        [data-round="1"][data-lap="2"] .bestlap[data-number="1"][data-lap="1"]:before,
        [data-round="1"][data-lap="3"] .bestlap[data-number="1"][data-lap="2"]:before,
        [data-round="2"][data-lap="2"] .bestlap[data-number="2"][data-lap="1"]:before,
        [data-round="2"][data-lap="3"] .bestlap[data-number="2"][data-lap="2"]:before,
        [data-round="3"][data-lap="2"] .bestlap[data-number="3"][data-lap="1"]:before,
        [data-round="3"][data-lap="3"] .bestlap[data-number="3"][data-lap="2"]:before {
            background: rgba(0, 255, 127, .5);
        }
        [data-round="1"][data-lap="3"] .bestlap[data-number="1"][data-lap="1"]:before,
        [data-round="2"][data-lap="3"] .bestlap[data-number="2"][data-lap="1"]:before,
        [data-round="3"][data-lap="3"] .bestlap[data-number="3"][data-lap="1"]:before {
            background: rgba(0, 255, 127, .3);
        }
        [data-round="2"] .bestlap[data-number="1"]:before,
        [data-round="3"] .bestlap[data-number="1"]:before,
        [data-round="3"] .bestlap[data-number="2"]:before {
            background: rgba(0, 255, 127, .2);
            color: springgreen;
        }
        .shift:before {
            background: rgba(255, 255, 255, 1);
        }
        */
        
    }
    #bestlap {
        position: absolute;
        right: 2em;
        top: 2em;
        left: auto;
        margin-left: 0;
        margin-top: 0;
        width: 100px;
        height: 100px;
    }
    @media screen and (max-width: 767px) {
        #bestlap {
            position: absolute;
            width: 20vw;
            height: 20vw;
            cursor: pointer;
        }
    }
    #announcement {
        display: none;
        position: absolute;
        width: 17vw;
        height: 17vw;
        top: 1em;
        left: 4em;
    }
    @media screen and (max-width: 767px) {
        #announcement {
            display: none;
            position: absolute;
            width: 17vw;
            height: 17vw;
            top: 4em;
            left: 5em;
            cursor: pointer;
        }
    }
    #announcement circle {
        fill: darkslategrey;
        transition: fill 1s ease-in-out;
    }
    #announcement.-new circle {
        fill: springgreen;
    }


    .class {
        position: relative;
        padding: 10px 0;
        height: auto !important;
    }
    .class th {
        font-size: 1em;
        font-weight: bold;
        font-style: italic;

        color: springgreen;
        background: transparent;
    }
    .class th:before,
    .class th:after {
        content: '';

    }
        
    .mark {
        text-align: center;
    }

    .racer {
        transition: top .5s ease-in-out;
        top: auto !important;
        position: relative !important;
        order: 999;
        cursor: pointer;
    }
    @media screen and (min-width: 768px) {
        .racer td.number {
            padding: 0;
            text-align: center;
            background: white url(/number.svg);
            font-weight: 900;
            font-style: normal;
            font-size: 20px;
            color: black;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: block;
            font-size: 22px;
            line-height: 50px;
            font-family: Bebas;
            text-align: center;
            text-shadow: none;
            margin: -8px 0;
        }
    }
    @media screen and (min-width: 768px) {
        .racer td.driver {
            padding: 0 20px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            width: 29%;
        }
    }
    @media screen and (min-width: 768px) {
        .racer td.mark {
                width: 40px;
        }
    }
    @media screen and (min-width: 768px) {
        .racer td.model {
            width: 20%;
        }
    }
    @media screen and (min-width: 768px) {
        .racer td.volume {
            width: 40px;
        }
    }
    @media screen and (min-width: 768px) {
        .racer td.turbo {
            width: 10px;
            margin-left: 20px;
        }
        .racer td.power {
            width: 12%;
        }
        .racer td.round {
            width: 17%;
            position: relative;
        }
    }
    .round,
    [data-round] .round:not([data-lap]) {
        opacity: .5;
    }
    [data-round] .round {
        opacity: 1;
    }
    .round.bestlap {
        opacity: 1;
    }
    .bestlap:before {
        background: rgba(0, 255, 127, 1);
        opacity: 1;
        
        text-shadow: none;
        color: black;
    }
    [data-round="1"][data-lap="2"] .bestlap[data-number="1"][data-lap="1"]:before,
    [data-round="1"][data-lap="3"] .bestlap[data-number="1"][data-lap="2"]:before,
    [data-round="2"][data-lap="2"] .bestlap[data-number="2"][data-lap="1"]:before,
    [data-round="2"][data-lap="3"] .bestlap[data-number="2"][data-lap="2"]:before,
    [data-round="3"][data-lap="2"] .bestlap[data-number="3"][data-lap="1"]:before,
    [data-round="3"][data-lap="3"] .bestlap[data-number="3"][data-lap="2"]:before {
        background: rgba(0, 255, 127, .5);
    }
    [data-round="1"][data-lap="3"] .bestlap[data-number="1"][data-lap="1"]:before,
    [data-round="2"][data-lap="3"] .bestlap[data-number="2"][data-lap="1"]:before,
    [data-round="3"][data-lap="3"] .bestlap[data-number="3"][data-lap="1"]:before {
        background: rgba(0, 255, 127, .3);
    }
    [data-round="2"] .bestlap[data-number="1"]:before,
    [data-round="3"] .bestlap[data-number="1"]:before,
    [data-round="3"] .bestlap[data-number="2"]:before {
        background: rgba(0, 255, 127, .2);
        color: springgreen;
    }
    .shift:before {
        background: rgba(255, 255, 255, 1);
    }
    thead {
        /*display: none;*/
    }
    @media screen and (min-width: 768px) {
        .racer {
            width: 100%;
            position: relative !important;
        }
        .racer td {
            box-sizing: border-box;
        }
        .driver {
        }
        .round.bestlap:after {
            background: springgreen;
        }
        .mark img {
            max-width: 1em;
            max-height: 1em;
        }
    }
}

@media screen and (max-width: 767px) {
	.queue {
		/*margin-top: -8em;*/
	}
}

.queue {
    @media screen and (min-width: 1900px) {
        flex: 2;
    }
}

.queue ul {
    min-width: 44px;
    min-height: 44px;
	position: relative;
    margin: 3em 0 0;
    padding: 0;

    &:first-child {
        margin-top: 0;
    }
}
.queue ul:empty {

}
.queue ul {
	margin-right: 1.5em;
}

.queue li {
	display: inline-block;
}

.queue li {
    padding: 0;
    text-align: center;
    background: white url(/number.svg);
    font-weight: 900;
    font-size: 20px;
    color: black;
    border-radius: 50%;
    width: 14vw;
    height: 14vw;
    font-size: 6vw;
    line-height: 14vw;
    font-family: Bebas;
	font-style: normal;
    text-align: center;
    text-shadow: none;
	margin: 0.2em;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, .5);

    @media screen and (min-width: 1900px) {
        width: 7vw;
        height: 7vw;
    }
}

.queue ul:before {
	position: absolute;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 1px;
	transform: skew(-15deg);
    top: -1.5em;
	left: 0;
	padding: 4px 10px;
	background: black;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, .5);
	text-shadow: none;
}

.queue .ready { 
    position: sticky;
    top: 42px;
    z-index: 8;
	text-align: center;
}

.queue .track:before {
	content: 'Rajal';
	background: springgreen;
	color: black;
}

.queue .ready:before {
	content: 'Valmistuvad';
	background: yellow;
	color: black;
}

.queue .q:before {
	content: 'Ootejärjekord';
	border: 4px solid red;
	color: red;
	box-sizing: border-box;
	padding: 0 6px;
}

.queue .halt:before {
	content: 'Ootel';
}

.queue .out:before {
	content: 'Väljas';
}

.track li {
    width: 7vw;
    height: 7vw;
    font-size: 3vw;
    line-height: 7vw;
}

.ready li {
	box-shadow: 8px 8px 0 rgba(0, 0, 0, .5);
}

.q li,
.halt li,
.out li {
    width: 7vw;
    height: 7vw;
    font-size: 3vw;
    line-height: 7vw;

    @media screen and (min-width: 1900px) {
        width: 7vw;
        height: 7vw;
    }
}

.halt {
	opacity: .5;
}
.out {
	opacity: .2;
}

.halt + .out {
	/*margin-left: 2em;*/
}


@media screen and (min-width: 768px) {
	.queue li {
	    width: 14vw;
	    height: 14vw;
	    font-size: 6vw;
	    line-height: 14vw;
	}
	.track li {
	    width: 7vw;
	    height: 7vw;
	    font-size: 3vw;
	    line-height: 7vw;
	}
	
	.q li,
	.halt li,
	.out li {
	    width: 7vw;
	    height: 7vw;
	    font-size: 3vw;
	    line-height: 7vw;
	}
}

.q li:nth-child(4n) {
    margin-right: 3vw;
    position: relative;
}