@import '../variables';

footer {
	padding: 2em;
	font-style: italic;
	text-align: center;
	position: relative;
    z-index: 1;
    margin: 0 0 0 auto;
    width: 45vw;
	text-transform: uppercase;
	letter-spacing: -.5px;
	line-height: 1.4;
	/*
	display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
	/*
	padding-right: 6em;
	margin-right: -4em;
	*/
    color: black;
	margin-top: auto;
	overflow: hidden;

	@media screen and (max-width: 512px) {
		margin: 0;
		width: auto;

		padding-left: 2em;
	}

	@media screen and (max-width: 680px) {
		padding-left: 5em;
	}
	
	@media screen and (min-width: 680px) {
		padding-left: 7em;
	}
	
	@media screen and (min-width: 1024px) {
		text-align: center;
	}
	

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: -.1em;
		right: -.5em;
		bottom: -.1em;
		left: -1em;
		padding: .2em 1em;
		transform: skew(-15deg);
		background: #13CF13;
		z-index: -1;

		@media screen and (max-width: 512px) {
			left: -3em;
		}

		@media screen and (min-width: 680px) {
			left: 2em;
		}
	}

	a {
		font-weight: 900;
		font-style: italic;
		position: relative;
	
		&:visited {
			color: $color-link;
		}

		&.image {
			&::after {
				display: none;
			}
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: -.2em;
			right: -.2em;
			bottom: -.2em;
			left: -.2em;
			padding: .3em 1.2em;
			transform: skew(-15deg);
			background: #FFF;
			z-index: -1;
		}

	}

	h2 {
		color: #FFF;
	}

	h3 {
		margin: 1.5em 0 0;

		& + p {
			margin-top: 0;
		}

		span {
			letter-spacing: .5px;
		}
	}
	
	.supporters {
		margin-top: .8em;
	
		img {
			max-width: 15vw;
			max-height: 5vw;

			@media screen and (max-width: 415px) {
				max-width: 27vw;
				max-height: 10vw;
			}
		}	
	}
}
