html[lang="ru"] form button {
	font-size: 0.9em;
}

form .-attention {
	color: #cc0000;
}

fieldset {
	margin: 0;
	border: none;
	padding: 0;
}

fieldset + fieldset {
	margin-top: 2em;
}
legend {
	margin: 0;
	padding: 0;
	color: #13CF13;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

fieldset > div,
form div {
	margin-top: 2em;
}
fieldset > div > div,
fieldset > div > div > div {
	margin-top: 0;
}
fieldset > div > p {
	margin-top: 0;
	font-size: .8em;
	color: #888;
}
fieldset div {

}
fieldset legend + div {
	margin-top: .5em;
}
fieldset label {
	line-height: 2em;
}
fieldset > div > label {
	line-height: 1em;
}

fieldset > div > div {
	display: flex;
	border-bottom: 2px solid #333;
}
fieldset > div > div > span {
	flex-shrink: 0;
	line-height: 2em;
	margin-left: 1em;

	&:empty {
		display: none;
	}
}
fieldset > div > div > div {
	flex: 0 1 30%;
}
fieldset > div.tyres > div,
fieldset > div.type > div {
	display: block;
	flex: 0;
}
fieldset > div.tyres > div > div,
fieldset > div.type > div > div {
	display: flex;
	flex: 0;
}

fieldset > div.tyres > div input,
fieldset > div.type > div input {
    line-height: 1em;
    margin: .3em 0;
}
fieldset > div.tyres > div label,
fieldset > div.type > div label {
    line-height: 1em;
    margin: .5em 0;
	margin-left: .5em;
}

input:read-only {
	color: #888;
}



/*    / / / / / / /      */
/* V A L I D A T I O N */
/*    / / / / / / /      */

form.validate {

}

form.validate > div.valid label:after,
form.validate fieldset > div.valid > label:after {
	content: '✓';
	color: springgreen;
}

form.validate fieldset > div.valid > div {
	border-color: springgreen;
}

form.validate > div:not(.valid) label:after,
form.validate fieldset > div:not(.valid) > label:after {
	content: 'X';
	color: red;
}


form.validate fieldset > div:not(.valid) > div:not(.valid) {
	border-color: red;
}

form.validate fieldset > div:not(.valid) input,
form.validate fieldset > div:not(.valid) select {
	color: red;
}

form.validate:not(.valid) button {
	background: #888;
}

form.validate fieldset > div:not(.valid) .hint {
	color: red;
	display: block;
}

/*
input:not(valid), select:not(valid) {
	color: red;
}
*/

/*    \\\\\\\\\\\\\      */
/*    \\\\\\\\\\\\\      */
/*    \\\\\\\\\\\\\      */



input,
select,
option,
button {
	font-size: 1em;
	line-height: 2em;
	font-weight: bold;
	font-family: Gotham;
	display: block;
	width: 100%;
	border: none;

    &:focus {
        outline: 2px solid $color-link;
        outline-offset: 2px 2px 4px;
    };
}

button {
	&[type=submit] {
		max-width: 200px;
		margin: 0 auto;
	}
	:not(.-keys) &:focus {
        outline: none
    };

	.-keys &:focus {
        outline: 2px solid $color-link;
        outline-offset: 20px;
    };
}

select {
	height: 2em;
	background: transparent;
	color: black;

	appearance: none;

	border: 0 !important;

	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
}
input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
select {
	-moz-appearance: none;
	-webkit-appearance: none;	
	padding: 0 .5em;
}
input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	width: auto;
}

input[type="submit"],
button {
	background: #13CF13;
	color: white;
	text-transform: uppercase;
	letter-spacing: .05em;
	-moz-appearance: none;
	-webkit-appearance: none;
	box-shadow: 4px 4px rgba(0, 0, 0, .5);
}

input[type="submit"]:active, button:active {
	transform: translate(2px, 2px);
	box-shadow: none;
}

.bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> * {
		order: 0;
	}

	> *:first-child {
		order: 1;
	}
}
