@import '../variables';

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    padding: 20px 0;
    overflow: hidden;
    z-index: 8;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include wiper;

    @media screen and (max-width: 767px) {
        // height: 180px;
    }

    @media screen and (max-width: 500px) {
        min-width: 320px;
    }

    & > * {
        flex: 1;
    }

    .logo {
        margin: 0;
        padding: 0;

        width: 100px;
        height: 100px;

        order: 1;

        @media screen and (max-width: 767px) {
            top: 50px;
            right: 60px;
            width: 50px;
            height: 50px;
        }
    
        @media screen and (max-width: 479px) {
            top: 1em;
            right: 50px;
            width: 50px;
            height: 50px;
        }

        figcaption {
            display: none;
        }

        svg {
            display: block;
            width: 100px;
            height: 100px;

            @media screen and (max-width: 767px) {
                width: 50px;
                height: 50px;
            }
        
            @media screen and (max-width: 479px) {
                width: 50px;
                height: 50px;
            }
        }

        a {
            display: block;
    
            width: 100px;
            height: 100px;

            @media screen and (max-width: 767px) {
                width: 50px;
                height: 50px;
            }
        
            @media screen and (max-width: 479px) {
                width: 50px;
                height: 50px;
            }
    
            box-shadow: 4px 4px rgba(0, 0, 0, .5);
            border-radius: 50%;
            
            &:active {
                box-shadow: none;
                transform: translate(2px, 2px);
            }
        }
    }

    .lang {
        order: 2;
        flex: 0;

        display: flex;
        justify-content: center;

        transform: translate(2px, 0);
    }

    .menu {
        order: 0;
        flex: 5;

        @media screen and (max-width: 540px) {
            flex: 4;
        }

        @media screen and (max-width: 350px) {
            flex: 3;
        }
    }
}
