.hero {
	width: 100%;
	margin: 0;
	padding: 0;

	position: relative;

	&.-index {
		margin-top: 150px;

		@media screen and (min-width: 1640px) {
			margin-top: 200px;
		}

		@media screen and (max-width: 820px) {
			margin-top: 147px;
		}
	}

	img {
		margin: 0 auto;
		display: block;

		@media screen and (max-width: 1640px) {
			width: 100%;
		}
		
	}

	figcaption {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		ul {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				margin: 0;
				padding: 0;

				text-transform: uppercase;
				font-weight: 900;
				font-size: 4vw;
				line-height: 2.5vw;

				position: absolute;

				&.-i {
					top: 61%;
					left: 12%;

					strong {
						margin-left: -35%;
					}
				}

				&.-ii {
					top: 45%;
					left: 35%;

					strong {
						margin-left: -10%;
					}
				}

				&.-iii {
					top: 82%;
					left: 22%;

					strong {
						margin-left: 42%;
					}
				}

				&.-iv {
					top: 68%;
					left: 38%;

					strong {
						margin-left: 58%;
					}
				}

				&.-v {
					top: 48%;
					left: 63%;

					strong {
						margin-left: 16%;
					}
				}
				
				em {
					display: block;
				}
				
				strong {
					display: block;
					opacity: .5;
				}

				span {
					display: none;
				}
			}
		}
	}
}
