@import '../variables';

@import './header';
@import './footer';

@import './main';

@import './nav';
@import './lang';
@import './tabs';

@import './hero';

@import './parallax';

@import './table';
@import './section';
@import './form';


.everything {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.skip {
		position: absolute;
		right: 2em;
		width: auto;
		text-align: center;
		align-self: baseline;
	}
}


.attention {
	font-size: 3em;
}

img.poster {
	width: 100%;
	display: block;
}

.facebook-feed {
	margin-left: -32px;
	max-width: 100vw;
}

.fb-page {
	blockquote {
		margin: 0;
	}

	& + p {
		margin-top: 0;
	}
}
