.lang {
	display: flex;
	

	@media screen and (max-width: 767px) {
		width: 45px;
		padding: 0;
	}

	@media screen and (max-width: 767px) {
		top: 25px;
		left: auto;
		right: 0;
		bottom: auto;
		min-height: 0;
	}

	@media screen and (max-width: 479px) {
		top: 28px;
	}

	&::after {
		@media screen and (max-width: 767px) {
			content: '';
			position: absolute;
			/*backdrop-filter: blur(6px);*/
			top: -20px;
			left: -20px;
			bottom: -20px;
			right: -20px;
			z-index: -1;
		}
	}
	
	a {
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: -.3em;
			right: -.6em;
			bottom: -.3em;
			left: -.6em;
			padding: .6em 1em;
			background: slategray;
			z-index: -1;
			transform: skew(-15deg);
		}

		html[lang="et"] &[locale="et"],
		html[lang="en"] &[locale="en"],
		html[lang="ru"] &[locale="ru"] {
			color: black;
			text-decoration: none;

			&::after {
				background: lightgrey;
			}
		}
	}

	ul {
		flex-wrap: nowrap;

		@media screen and (max-width: 767px) {
			padding: 0;
			flex-wrap: wrap;
		}

		li {
			@media screen and (max-width: 767px) {
				padding: 0 1em;
			}
		}
	}
}
