main {
	margin-top: 140px;

	@media screen and (max-width: 767px) {
		margin-top: 120px;
	}

	@media screen and (min-width: 1640px) {
		margin-top: 180px;
	}
	
	/*column-width: 10em; */
	    /* max-height: 100%; */
	    top: 0;
	    /*left: -90%;*/
		/*left: -128%;*/
	    padding: 0;
	    /*max-height: 100%;*/
	    /*overflow: scroll;*/
	    
	    /*height: 100%;*/
	    top: 0;
	    /*right: 22vw;*/
	    /*position: fixed;*/
        /*z-index: 3;*/
		
		/*margin-left: 0 !important;*/
		position: relative;

		.hero.-index + & {
			margin-top: 0;
		}
		
		.fb_iframe_widget {
			overflow: auto;
			width: 100%;
		}
}

main:after {
	content: '';
	display: block;
	height: 33vh;
}
/*
main:before {
	content: '';
	display: block;
	height: 100px;

}

main:after {
	content: '';
	display: block;
	height: 400px;

}
*/

@media screen and (min-width: 1024px) {
	main:after {
		content: '';
		display: block;
		height: 33vh;
	}
}

