@import '../variables';

nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        top: 1em;
        left: 1em;
        height: auto;
    }

    @media screen and (max-width: 479px) {
        top: 1em;
        left: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-content: center;

        pointer-events: auto;

        flex-wrap: wrap;

        @media screen and (max-width: 600px) {
            width: auto;
        }

        li {
            display: inline-block;
            margin: 2px;
            padding: 0 .6em;
            // transform: skew(15deg);
        }
    }

    &.menu {
        pointer-events: none;

        @media screen and (max-width: 767px) {
            top: 25px;
            right: 85px;
        }
    }

    a {
        @include button;

        &:visited {
            color: #fff;
        }

        &:active {
            transform: translate(2px, 2px);

            &:after {
                box-shadow: none;
            }
        }

        &:hover {
            // transform: translate(50px, 100px);
        }

        .-keys &:focus {
            outline: none;

            &:after {
                outline: 2px solid $color-link;
                outline-offset: 2px;
            }
        };

        &[aria-current="page"] {
            color: black;
            text-decoration: none;
            cursor: default;
            pointer-events: none;

            &::after {
                background: springgreen;
            }
        }
        &.-active {
            color: black;
            
			&::after {
                background: springgreen;
            }
		}
        
        &:after {
            box-shadow: 4px 4px rgba(0, 0, 0, .5);
        }
    }
}
