.parallax {
	overflow: hidden;
	transform: skew(-15deg);
	width: 25%;
	height: 100%;
	top: 0;
	right: 2vw;
	position: fixed;
	z-index: -1;

    @media screen and (max-width: 767px) {
        right: -5vw;
        width: 50%;
    }

    @media screen and (max-width: 415px) {
        right: -47vw;
        width: 80%;

    }

    img {
        transform: matrix(1, 0, 0, 1, -500, 0) skew(15deg);
    }
}
