@import '../variables';

section {
	width: 100%;
    max-width: 480px;
    box-sizing: border-box;
	margin: 0 calc(20% + 50px) 0 auto;
    background: white;
	color: #333;
	padding: 2em;
	margin-top: 1em;
	box-shadow: 0px 9px 36px 6px black;
	position: relative;

	@media screen and (max-width: 520px) {
		padding: .7em 1em 1em;
	}

	a {
		word-break: break-all;
	}

	h1 + & {
		margin-top: 0;
	}

	a[target="_blank"] {
		word-wrap: break-word;
	}

	&.headings {
		background: rgba(0, 0, 0, .8);
		color: #DDD;
		width: 100%;
		max-width: none;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		backdrop-filter: blur(20px);
	
		@media screen and (max-width: 768px) {
			font-size: 4vw;
			line-height: 5.2vw;
		}
	
		article {
			padding: 20px 40px 40px;
	
			@media screen and (max-width: 768px) {
				padding: 50px 20px 20px;
			}
		}
		
		h2 {
			color: #fff;
			font-weight: normal;
			font-size: 5em;
			line-height: 1.4em;
	
			@media screen and (max-width: 768px) {
				font-size: 3em;
				text-align: center;
			}
		}
	}
}


@media screen and (min-width: 1100px) {
	section {
		margin-left: auto;
		margin-right: auto;
	}
}


@media screen and (max-width: 767px) {
	section {
		margin-left: auto;
		margin-right: calc(50px + 2em);
	}
}

@media screen and (max-width: 479px) {
	section {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
}
