table {
	color: silver;
	font-family: Helvetica, Arial, Sans-Serif;
}

td,
th {
	padding: .3em;
	white-space: nowrap;
	box-sizing: border-box;
}

th {
	background: #444;
	cursor: pointer;
}

table td[data-name="number"] input {
	width: 64px;
	height: 64px;
	padding: 0;
	text-align: center;
	border-radius: 2em;
	background: url(/number.svg);
	font-weight: 900;
	font-style: italic;
	font-size: 20px;
}

table td[data-name="mark"] {
    border-radius: 32px;
    padding: 12px;
}

table td[data-name="mark"] img {
	max-width: 32px;
	max-height: 32px;
}
