@import '../variables';

.tabs {
    position: relative;
    top: auto;
	left: auto;
	right: 0;

	font-size: 2em;

	@include nowipe;

	ul {
		margin-left: auto;
	}

	ol {
		margin-right: auto;
	}
	
	a {
		color: $color-link;

		&:not(&[aria-current=page]):not(&.-active)::after {
			color: $color-link;
			background: transparent;
			box-shadow: none;
		}
        &[aria-current=page] {
            color: inherit;
            
            &::after {
                background: rgba(255, 255, 255, .1);
            }
        }
		&.-active:not(&[aria-current=page]) {
			color: $color-link;
			
			&::after {
                background: rgba(255, 255, 255, .1);
            }
		}
	}

	&.-dates {
		font-size: 1em;
		/*
		ol {
			li {
				float: left;
				margin: 2px 15px 2px;
				padding: 0 .6em;
				// transform: skew(15deg);
			}
		}	
		*/
	}
}
