
.races {
	position: relative;
	max-width: 100vw;
	z-index: 1;
	background: #444;
	font-size: 2em;
	line-height: 2em;
	color: white;
	z-index: 3;
	padding: 0;
	margin: .5em 0;
	box-shadow: none;
}


.race {
	font-size: 1em;
	line-height: 2em;
	font-family: Gotham;
	text-transform: uppercase;
	position: relative;
	color: white;
    display: flex;
    justify-content: space-between;
	z-index: 1;
	
	padding: 0 .5em;
	font-weight: 900;
	font-style: italic;
}

.races.-passed {
	opacity: .3;
}

.race em {
	color: #13CF13;
	position: relative;
	font-style: normal;
	float: left;
}

.race em + em {
	color: white;
	position: relative;
	margin-left: 1em;
}



@media screen and (max-width: 767px) {
	.promo,
	section {
		padding: 1em;
	}
	#bestlap {
		top: 1em;
		right: 2em;
	}

	section:first-child,
	section.welcome {
		width: auto;
	}
}

@media screen and (max-width: 415px) {
	.promo,
	section {
		width: auto;
	}

	/*section:first-child,*/
	section.welcome {
		width: auto;
		padding-left: 2em;
		margin-left: -3em;
	}
	.races {
		max-width: 80vw;
	}
	.race {
		font-size: .6em;
		line-height: 2.5em;
	}
	fieldset > div > div > div {
		flex: 0 1 40%;
	}
}

figure {
    display: inline-block;
    margin: 0;
    padding: 0;
}

figure.number {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;

    font-weight: 900;
    font-style: italic;
    color: black;

    display: inline-block;
    text-align: center;
    text-shadow: none;

    height: 1.2em;
    margin-left: -1em;
}
@media screen and (max-width: 768px) {
    figure.number {
        margin-left: -4vw;
        height: 5.2vw;
    }
}

figure.number:before {
    content: '';
    display: block;
    position: absolute;
    background: white url(/number.svg);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    left: 0;
    top: -.5em;
}
@media screen and (max-width: 768px) {
    figure.number:before {
        width: 12vw;
        height: 12vw;
        left: 0;
        top: -3.5vw;
    }
}
figure.number[data-turbo]:after {
    color: red;
}
figure.number[data-tyres="<180"]:after {
    border-color: brown;
}
figure.number[data-type="Track"]:after {
    border-color: silver;
}
figure.number[data-tyres="<180"][data-type="Track"]:after {
    border-color: gold;
}


figure.number figcaption {
    display: inline-block;
    position: relative;
    width: 2em;
}
@media screen and (max-width: 768px) {
    figure.number figcaption {
        width: 12vw;
    }
}

figure.number img {
    position: absolute;
    bottom: -6vw;
    left: 50%;
    height: 5vw;
    margin-left: -2.5vw;
    display: block;
}
@media screen and (max-width: 768px) {
    figure.number img {
        bottom: -6vw;
        left: 50%;
        height: 5vw;
        margin-left: -2.5vw;
    }
}


figure.mark {
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;

    font-weight: 900;
    font-style: italic;

    height: 2em;
}

figure.mark figcaption {
    order: 1;
    line-height: 1em;
    margin-top: .5em;
    margin-left: .5em;
}
figure.mark img {
    order: 0;
}

@media screen and (max-width: 768px) {
    figure.mark {
        display: inline-block;
    }
    figure.mark figcaption {
        font-size: 2vw;
        line-height: 2vw;
        margin-left: 0;
    }
    figure.mark img {
        position: absolute;
        left: 0;
    }
}

figure.mark figcaption .mark {
    display: none;
}

figure.mark img {
    width: 2em;
    height: 2em;
}

@media screen and (max-width: 768px) {
    figure.mark img {
        width: 5.2vw;
        height: 5.2vw;
    }
}

