$color-link: #08F;

@mixin button {
    color: white;
	font-weight: bold;
	text-transform: uppercase;
    position: relative;
    font-style: italic;
    line-height: 1.6em;
	display: inline-block;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -.3em;
        right: -.6em;
        bottom: -.3em;
        left: -.6em;
        padding: .6em 1em;
        background: #13CF13;
        background: seagreen;
        z-index: -1;
        transform: skew(-15deg);
        box-shadow: 4px 4px rgba(0, 0, 0, .5);
    }
}

@mixin wiper {
    // @media screen and (max-width: 786px) {
        transform: translate(0, 0);
        transition: transform 300ms ease-in-out;

        .-forward & {
            transform: translate(0, -100vh);
        }

        .-reverse & {
            transform: translate(0, 0);
        }
    // }
}

@mixin nowipe {
    // @media screen and (max-width: 786px) {
        transform: none;
        transition: none;

        .-forward & {
            transform: none;
        }

        .-reverse & {
            transform: none;
        }
    // }
}

/* Stay awesome Gotham */

@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro/GothamPro.eot?') format('eot'), 
        url('/fonts/GothamPro/GothamPro.otf')  format('opentype'),
        url('/fonts/GothamPro/GothamPro.woff') format('woff'), 
        url('/fonts/GothamPro/GothamPro.ttf')  format('truetype'),
        url('/fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-Italic/GothamPro-Italic.eot?') format('eot'), 
        url('/fonts/GothamPro-Italic/GothamPro-Italic.otf')  format('opentype'),
        url('/fonts/GothamPro-Italic/GothamPro-Italic.woff') format('woff'), 
        url('/fonts/GothamPro-Italic/GothamPro-Italic.ttf')  format('truetype'),
        url('/fonts/GothamPro-Italic/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.eot?') format('eot'), 
        url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.otf')  format('opentype'),
        url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.woff') format('woff'), 
        url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.ttf')  format('truetype'),
        url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
    font-style: italic;
    font-weight: 900;
    font-display: fallback;
}

@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-Black/GothamPro-Black.eot?') format('eot'), 
        url('/fonts/GothamPro-Black/GothamPro-Black.otf')  format('opentype'),
        url('/fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'), 
        url('/fonts/GothamPro-Black/GothamPro-Black.ttf')  format('truetype'),
        url('/fonts/GothamPro-Black/GothamPro-Black.svg#GothamPro-Black') format('svg');
    font-weight: 900;
    font-display: fallback;
}

@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'), 
        url('/fonts/GothamPro-Bold/GothamPro-Bold.otf')  format('opentype'),
        url('/fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'), 
        url('/fonts/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype'),
        url('/fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.eot?') format('eot'), 
        url('/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.otf')  format('opentype'),
        url('/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.woff') format('woff'), 
        url('/fonts/GothamPro-Bold/GothamPro-BoldItalic.ttf')  format('truetype'),
        url('/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
    font-style: italic;
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: Bebas;
    src: url('/fonts/Bebas/bebas.woff2') format('woff2'),
         url('/fonts/Bebas/bebas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/Bebas/BebasNeue-Regular.woff2') format('woff2'),
         url('/fonts/Bebas/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
