@import './variables';

html,
body {
	font-family: Gotham;
	font-size: 1em;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	height: 100%;
}

body {
	font: 1em/1.2em Gotham, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: italic;
    background: black;
    color: silver;
	background: black no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body,
body > div,
body > div > div {
	min-height: 100%;
}

a {
    color: $color-link;

    &:visited {
        color: purple;
    }

    .-keys &:focus {
        outline: 2px solid $color-link;
        outline-offset: 2px;
    };

    &.skip {
        left: 50%;
        position: absolute;
        transition: transform 150ms ease-in-out;
        transform: translateY(-200%);
        z-index: 11;

        @include button;

        &:visited {
            color: #fff;
        }

        &:focus {
            transform: translateY(20px);
        }

        .-keys &:focus {
            outline: none;

            &:after {
                outline: 2px solid $color-link;
                outline-offset: 2px;
            }
        };

        &[aria-current="page"] {
            color: black;
            text-decoration: none;
            cursor: default;
            pointer-events: none;
        }
    }

    &.-image {
        display: block;
    }
}


h1, h2 {
	text-transform: uppercase;
}
h1 {
    main > & {
        color: #FFF;
        margin: 0;
        text-align: center;
        font-weight: 900;
        font-size: 10vw;
        line-height: 3em;
        letter-spacing: 2px;
        text-shadow: 2px 2px rgba(0, 0, 0, .5);
        top: -.25em;
        position: relative;

        em {
            opacity: 0.5;
            top: 1em;
            left: -1em;
            position: relative;
        }
    }

}

h2 {
	color: #13CF13;
	line-height: 1em;
}
h3 {
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 10px 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
p:first-child {
	margin-top: 0;
}

.-hide {
    display: none;
}

dl {
    dd + dt {
        margin-top: 10px;
    }
}
