/* Stay awesome Gotham */
@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro/GothamPro.eot?') format('eot'), 
        url('/fonts/GothamPro/GothamPro.otf')  format('opentype'),
        url('/fonts/GothamPro/GothamPro.woff') format('woff'), 
        url('/fonts/GothamPro/GothamPro.ttf')  format('truetype'),
        url('/fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-Italic/GothamPro-Italic.eot?') format('eot'), 
        url('/fonts/GothamPro-Italic/GothamPro-Italic.otf')  format('opentype'),
        url('/fonts/GothamPro-Italic/GothamPro-Italic.woff') format('woff'), 
        url('/fonts/GothamPro-Italic/GothamPro-Italic.ttf')  format('truetype'),
        url('/fonts/GothamPro-Italic/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.eot?') format('eot'), 
        url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.otf')  format('opentype'),
        url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.woff') format('woff'), 
        url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.ttf')  format('truetype'),
        url('/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-Black/GothamPro-Black.eot?') format('eot'), 
        url('/fonts/GothamPro-Black/GothamPro-Black.otf')  format('opentype'),
        url('/fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'), 
        url('/fonts/GothamPro-Black/GothamPro-Black.ttf')  format('truetype'),
        url('/fonts/GothamPro-Black/GothamPro-Black.svg#GothamPro-Black') format('svg');
    font-weight: 900;
}
@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'), 
        url('/fonts/GothamPro-Bold/GothamPro-Bold.otf')  format('opentype'),
        url('/fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'), 
        url('/fonts/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype'),
        url('/fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: 700;
}
@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.eot?') format('eot'), 
        url('/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.otf')  format('opentype'),
        url('/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.woff') format('woff'), 
        url('/fonts/GothamPro-Bold/GothamPro-BoldItalic.ttf')  format('truetype'),
        url('/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: Bebas;
    src: url('/fonts/Bebas/bebas.woff2') format('woff2'),
         url('/fonts/Bebas/bebas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/Bebas/BebasNeue-Regular.woff2') format('woff2'),
         url('/fonts/Bebas/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	font-family: Gotham;
	font-size: 1em;
	line-height: 1.2em;
	/*max-width: 100%;*/
	
	margin: 0;
	padding: 0;
	
	/*overflow-x: hidden;*/
	
	/*-webkit-overflow-scrolling: auto;*/
}

html {
	overflow-x: hidden;
	height: 100%;
}

body {
	font: 1em/1.2em Gotham, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: italic;
    background: black;
    color: silver;
	background: black no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    /*filter: blur(1vw);*/
	    /*transform: scale(1.1);*/
		/*overflow-x: hidden;*/
}

body,
body > div,
body > div > div {
	min-height: 100%;
}

.bright {
    background: white;
}
.bright body {
    background: white; 
    color: black;
}

a {
    color: #08F;
}

.everything {
	min-height: 100%;
	overflow: hidden;
}

.viewroll {
	overflow: hidden;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    margin-top: 0;
    height: 100px;
    /*width: 20em;*/
    /*background: springgreen;*/
    /*position: relative;*/
    /*z-index: 9999;*/
}
header:after {
	/*content: 'header';*/

}

header {

}

header figure {
    position: fixed;
    right: 20%;
    top: 3vw;
    z-index: 10;
	box-shadow: 4px 4px rgba(0, 0, 0, .5);
	border-radius: 50%;
}

header > a:active figure {
	box-shadow: none;
	transform: translate(2px, 2px);
}
header figure svg {
	display: block;
}
header figcaption {
    display: none;
}

@media screen and (max-width: 767px) {
    header figure {
        top: 1em;
        right: 2em;
    }
}

@media screen and (max-width: 479px) {
    header figure {
        top: 1em;
        right: .5em;
    }
}

a {
	color: #08F;
}


h1, h2 {
	text-transform: uppercase;
}
h1 {
	color: #FFF;
	line-height: 110px;
	margin: 0;
	height: 100px;
}
main h1 {
	text-align: center;
}
h2 {
	color: #13CF13;
	line-height: 1em;
}
h3 {
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 10px 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
p:first-child {
	margin-top: 0;
}

nav {
	position: fixed;
	/*width: 100vw;*/
	top: 3vw;
	left: 2em;
	/*transform: translate(-8em, 8em) rotate(-90deg);*/
	z-index: 8;
    transform: skew(-15deg);
    min-height: 100px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    nav {
        top: 1em;
        left: 1em;
    }
}

@media screen and (max-width: 479px) {
    nav {
        top: 1em;
        left: 0;
    }
}

nav a {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
    position: relative;
    font-style: italic;
    line-height: 1.6em;
	display: inline-block;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

nav a:after {
	content: '';
	display: block;
	position: absolute;
	top: -.3em;
	right: -.6em;
	bottom: -.3em;
	left: -.6em;
	padding: .6em 1em;
    background: #13CF13;
    background: seagreen;
    z-index: -1;
    transform: skew(-15deg);
	box-shadow: 4px 4px rgba(0, 0, 0, .5);
}
nav a:active:after {
	box-shadow: none;
}
nav a:active {
	transform: translate(2px, 2px);
}


nav a:hover {
	/* *transform: translate(50px, 100px); */
}

a[aria-current="page"] {
	text-decoration: none;
	cursor: default;
	pointer-events: none;
}

nav a[aria-current="page"] {
	color: black;
	text-decoration: none;
	cursor: default;
	pointer-events: none;
}

nav a[aria-current="page"]:after {
	background: springgreen;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}
nav li {
	display: inline-block;
    margin: 2px;
    padding: 0 .6em;
    transform: skew(15deg);
}

.hero {
	width: 100%;
	margin-top: 147px;
}

.hero img {
	margin: 0 auto;
	display: block;
}

@media screen and (max-width: 820px) {
	.hero {
		position: relative;
		z-index: 9;
	}
	.hero img {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	nav ul {
		width: auto;
	}
}


.lang {
    left: auto;
    right: 0;
}

.lang a:after {
	content: '';
	display: block;
	position: absolute;
	top: -.3em;
	right: -.6em;
	bottom: -.3em;
	left: -.6em;
	padding: .6em 1em;
    background: slategray;
    z-index: -1;
    transform: skew(-15deg);
}

html[lang="et"] .lang a[locale="et"]:after,
html[lang="en"] .lang a[locale="en"]:after,
html[lang="ru"] .lang a[locale="ru"]:after {
	background: lightgrey;
}
main {
	margin-top: 3vw;
	
	/*column-width: 10em; */
	    /* max-height: 100%; */
	    top: 0;
	    /*left: -90%;*/
		/*left: -128%;*/
	    padding: 0;
	    /*max-height: 100%;*/
	    /*overflow: scroll;*/
	    
	    /*height: 100%;*/
	    top: 0;
	    /*right: 22vw;*/
	    /*position: fixed;*/
        /*z-index: 3;*/
		
		/*margin-left: 0 !important;*/
		position: relative;
}

section {
	width: 480px;
	margin: 0 calc(20% + 50px) 0 auto;
}

@media screen and (min-width: 1100px) {
	section {
		margin-left: auto;
		margin-right: auto;
	}
}


@media screen and (max-width: 767px) {
	section {
		margin-left: auto;
		margin-right: calc(50px + 2em);
	}
}

@media screen and (max-width: 479px) {
	section {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
}

main:after {
	content: '';
	display: block;
	height: 33vh;
}
/*
main:before {
	content: '';
	display: block;
	height: 100px;

}

main:after {
	content: '';
	display: block;
	height: 400px;

}
*/

footer {
	padding: 2em;
	font-style: italic;
	text-align: center;
	position: relative;
    z-index: 1;
    margin: 0 0 0 auto;
    width: 45vw;
	/*
	padding-right: 6em;
	margin-right: -4em;
	*/
    color: black;
	position: sticky;
	bottom: 0;
}

footer:before {
	content: '';
	display: block;
	position: absolute;
	top: -.1em;
	right: -.5em;
	bottom: -.1em;
	left: -.5em;
	padding: .2em 1em;
	transform: skew(-15deg);
	background: #13CF13;
	z-index: -1;
}
footer a {
	font-weight: 900;
	font-style: italic;
	position: relative;
}

footer a:after {
	content: '';
	display: block;
	position: absolute;
	top: -.1em;
	right: -.5em;
	bottom: -.1em;
	left: -.5em;
	padding: .2em 1em;
	transform: skew(-15deg);
	background: #FFF;
	z-index: -1;
}

footer a.image::after {
	display: none;
}

footer h2 {
	color: #FFF;
}

footer h3 {
	margin: 1em 0 0;
}

footer h3 + p {
	margin-top: 0;
}

footer .supporters {
	margin-top: 0;
}

section {
	background: white;
	color: #333;
	padding: 2em;
	margin-top: 1em;
	box-shadow: 0px 9px 36px 6px black;
	position: relative;
}

/*
section:first-child {
	background: transparent;
	height: ;
}
*/
.welcome {
	background: transparent;
	font-size: 2em;
	line-height: 2em;
	width: 14em;
	z-index: 3;
	padding-left: 3em;
	margin-top: 1.55em;
	margin-bottom: 1em;
	overflow: hidden;
	box-shadow: none;
}

.welcome img {
	transform: matrix(1, 0, 0, 1, -400, 0) skew(15deg);
	position: absolute;
	z-index: -1;
}

.promo {
	background: black;
	font-size: 2em;
	line-height: 2em;
	color: white;
	width: 12em;
	z-index: 3;
	padding-left: 3em;
	margin-top: -9em;
	margin-bottom: 1em;
	overflow: hidden;
	position: absolute;
	height: 8em;
	z-index: -1;
}

.promo img {
	transform: matrix(1, 0, 0, 1, -200, 0) skew(15deg);
	position: absolute;
	z-index: -1;
}

.parallax {
	overflow: hidden;
	transform: skew(-15deg);
	width: 25%;
	height: 100%;
	top: 0;
	right: 2vw;
	position: fixed;
	z-index: -1;
}

.parallax img {
	transform: matrix(1, 0, 0, 1, -500, 0) skew(15deg);
}

.translation,
.copy {
	display: none;
}

html[lang="et"] .copy[lang="et"],
html[lang="en"] .copy[lang="en"],
html[lang="ru"] .copy[lang="ru"] {
	display: block;
	/*z-index: 9;*/
}

html[lang="et"] .translation[lang="et"],
html[lang="en"] .translation[lang="en"],
html[lang="ru"] .translation[lang="ru"] {
	display: block;
	/*z-index: 9;*/
}

#registration {

	/*position: fixed;*/
	/*position: sticky;*/
	top: 0;
	left: 0;
}

#regulations {

}

html[lang="ru"] form button {
	font-size: 0.9em;
}

fieldset {
	margin: 0;
	border: none;
	padding: 0;
}

fieldset + fieldset {
	margin-top: 2em;
}
legend {
	margin: 0;
	padding: 0;
	color: #13CF13;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

fieldset > div,
form div {
	margin-top: 2em;
}
fieldset > div > div,
fieldset > div > div > div {
	margin-top: 0;
}
fieldset > div > p {
	margin-top: 0;
	font-size: .8em;
	color: #888;
}
fieldset div {

}
fieldset legend + div {
	margin-top: .5em;
}
fieldset label {
	line-height: 2em;
}
fieldset > div > label {
	line-height: 1em;
}

fieldset > div > div {
	display: flex;
	border-bottom: 2px solid #333;
}
fieldset > div > div > span {
	flex-shrink: 0;
	line-height: 2em;
	margin-left: 1em;
}
fieldset > div > div > div {
	flex: 0 1 30%;
}
fieldset > div.tyres > div,
fieldset > div.type > div {
	display: block;
	flex: 0;
}
fieldset > div.tyres > div > div,
fieldset > div.type > div > div {
	display: flex;
	flex: 0;
}

fieldset > div.tyres > div input,
fieldset > div.type > div input {
    line-height: 1em;
    margin: .3em 0;
}
fieldset > div.tyres > div label,
fieldset > div.type > div label {
    line-height: 1em;
    margin: .5em 0;
	margin-left: .5em;
}




/*    / / / / / / /      */
/* V A L I D A T I O N */
/*    / / / / / / /      */

form.validate {

}

form.validate > div.valid label:after,
form.validate fieldset > div.valid > label:after {
	content: '✓';
	color: springgreen;
}

form.validate fieldset > div.valid > div {
	border-color: springgreen;
}

form.validate > div:not(.valid) label:after,
form.validate fieldset > div:not(.valid) > label:after {
	content: 'X';
	color: red;
}


form.validate fieldset > div:not(.valid) > div:not(.valid) {
	border-color: red;
}

form.validate fieldset > div:not(.valid) input,
form.validate fieldset > div:not(.valid) select {
	color: red;
}

form.validate:not(.valid) button {
	background: #888;
}

form.validate fieldset > div:not(.valid) .hint {
	color: red;
	display: block;
}

/*
input:not(valid), select:not(valid) {
	color: red;
}
*/

/*    \\\\\\\\\\\\\      */
/*    \\\\\\\\\\\\\      */
/*    \\\\\\\\\\\\\      */



input, select, option, button {
	font-size: 1em;
	line-height: 2em;
	font-weight: bold;
	font-family: Gotham;
	display: block;
	width: 100%;
	border: none;
}
select {
	height: 2em;
}
input[type="text"], input[type="date"], input[type="number"], input[type="email"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	padding: 0 .5em;
}
input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	width: auto;
}

input[type="submit"], button {
	background: #13CF13;
	color: white;
	text-transform: uppercase;
	letter-spacing: .05em;
	-moz-appearance: none;
	-webkit-appearance: none;
	box-shadow: 4px 4px rgba(0, 0, 0, .5);
}

input[type="submit"]:active, button:active {
	transform: translate(2px, 2px);
	box-shadow: none;
}


.screen {
	overflow-x: hidden;
}

.screen:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: 65vw;
	width: 80vw;
	height: 160vw;
	transform: skew(-15deg);
	background: #13CF13;
	z-index: -1;
}




/*    / / / / / / /      */
/* - - - - - - - - - - - */
/*    / / / / / / /      */

* {
	
}

.header {
    height: 64px;
	padding-left: 100px;
	margin: 10px;
	text-align: right;
	position: relative;
}

.header:before {
	content: '2022';
    /* padding-left: 100px; */
    /* margin: 10px; */
    position: absolute;
    top: 24px;
    left: 0;
    color: grey;
}

.races {
	position: relative;
	max-width: 100vw;
	z-index: 1;
	background: #444;
	font-size: 2em;
	line-height: 2em;
	color: white;
	z-index: 3;
	padding: 0;
	margin: .5em 0;
	box-shadow: none;
}


.race {
	font-size: 1em;
	line-height: 2em;
	font-family: Gotham;
	text-transform: uppercase;
	position: relative;
	color: white;
    display: flex;
    justify-content: space-between;
	z-index: 1;
	
	padding: 0 .5em;
	font-weight: 900;
	font-style: italic;
}

.races.-passed {
	opacity: .3;
}

.race em {
	color: #13CF13;
	position: relative;
	font-style: normal;
	float: left;
}

.race em + em {
	color: white;
	position: relative;
	margin-left: 1em;
}

.registrants {
	width: 100%;
	height: auto;
	overflow-x: scroll;
}

.registrants select,
.registrants input {
	width: auto;
}

.registrants [data-name="turbo"] input {
	width: 3em;
}
.registrants [data-name="type"] input {
	width: 6em;
}

.registrants [data-name="type"] input {
	width: 6em;
}



table {
	color: silver;
	font-family: Helvetica, Arial, Sans-Serif;
}

td, th {
	padding: .3em;
	white-space: nowrap;
}

th {
	background: #444;
	cursor: pointer;
}

table td[data-name="number"] input {
	width: 64px;
	height: 64px;
	padding: 0;
	text-align: center;
	border-radius: 2em;
	background: url(number.svg);
	font-weight: 900;
	font-style: italic;
	font-size: 20px;
}

table td[data-name="mark"] {
    border-radius: 32px;
    padding: 12px;
}

table td[data-name="mark"] img {
	max-width: 32px;
	max-height: 32px;
}

input[type="submit"].logout {
	font-size: 0;
	width: 48px;
	height: 48px;
	background: white url(PublicInformationSymbol_EmergencyExit.svg) no-repeat;
	border-radius: 24px;
	display: inline-block;
	margin: 6px 0;
}

button#save {
	font-size: 0;
	width: 48px;
	height: 48px;
	background: url(bestlap.svg) center no-repeat;
    /* width: 80px; */
    height: 64px;
	padding-left: 100px;
	margin: 10px;
	text-align: right;
	margin: 20px auto;
	display: block;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	position: relative;
	z-index: 888;
}

body {
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
body.saving.saved {
	animation-name: bounce-8;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
body.saved {
	animation-name: bounce-9;
	animation-timing-function: cubic-bezier(0.280, 0.240, 0.120, 1);
	animation-duration: 2s;
	animation-iteration-count: 1;
}

body:before {
	content: '';

	background: black;
	opacity: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transition: opacity 500ms ease-in-out;
}
body:after {
	content: '';
	font-weight: bold;
	text-align: center;
	font-size: 200px;
	margin: auto;
	display: block;
	color: white;
}

body.saving:before {
	content: 'SAVING';
	background: black;
	opacity: 1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	
}
body.saving:after {
	content: 'SAVING';
}

body.saved:before {
	content: 'SAVED';
	background: black;
	opacity: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	transition: opacity 1000ms;
}

body.saving.saved:before {
	opacity: 1;
}

.pressed {
	animation-name: bounce-7;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.popup {
	position: absolute;
	background: white;
	padding: 20px;
	border-radius: 20px;
}
.colorpicker {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.colorpicker li {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin: 3px;
	padding: 0;
	font-size: 0;
	color: transparent;
	background-color: attr(data-color);
	display: inline-block;
}

.colorpicker .selected {
	box-shadow: 0 0 0 4px springgreen;
}

@keyframes bounce-7 {
	0%   { transform: scale(1,1)      translateY(0); }
	10%  { transform: scale(1.1)   translateY(0); }
	30%  { transform: scale(.9)   translateY(0); }
	50%  { transform: scale(1.05) translateY(0); }
	57%  { transform: scale(1,1)      translateY(0); }
	64%  { transform: scale(1,1)      translateY(0); }
	100% { transform: scale(1,1)      translateY(0); }
}

@keyframes bounce-8 {
	0%   { transform: scale(1,1)      translateY(0); }
	10%  { transform: scale(1.1)   translateY(0); }
	30%  { transform: scale(.9)   translateY(0); }
	50%  { transform: scale(1.05) translateY(0); }
	57%  { transform: scale(1,1)      translateY(0); }
	64%  { transform: scale(1,1)      translateY(0); }
	100% { transform: scale(1,1)      translateY(0); }
}

@keyframes bounce-9 {
	0%   { transform: scale(1.6)      translateY(0); }
	10%  { transform: scale(0.8)   translateY(0); }
	30%  { transform: scale(1.4)   translateY(0); }
	50%  { transform: scale(0.9) translateY(0); }
	57%  { transform: scale(1.0)      translateY(0); }
	64%  { transform: scale(1.2)      translateY(0); }
	100% { transform: scale(1.0)      translateY(0); }
}


/***/

.pilots {
	padding-right: 3em;
}

.pilots .class {
	margin-top: 3em;
}
.pilots .class:first-child\ {
	margin-top: 0;
}


.pilot {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
	padding: 2em 4em 0 0;
	box-sizing: border-box;
	order: attr(data-place);
	opacity: .3;
}

.pilot.-paid {
	opacity: 1;
}

.pilot .name {
    font-size: 1,2em;
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    display: block;
}
.pilot .number {
	position: absolute;
	top: .5em;
	right: 0;
	padding: 0;
	text-align: center;
	background: white url(/number.svg);
	font-family: Bebas;
	font-weight: 900;
	font-style: normal;
	font-size: 20px;
	color: black;
	border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: block;
    font-size: 1.5em;
    line-height: 2.47em;
	text-align: center;
	text-shadow: none;
}
.pilot .mark {
	position: absolute;
	top: .5em;
	width: 2.5em;
	display: block;
	font-size: 1.5em;
	right: -2em;
}
.pilot .mark img {
	max-width: 2.5em;
	max-height: 2.5em;
}

.pilot .model,
.pilot .volume,
.pilot .engine,
.pilot .turbo,
.pilot .type,
.pilot .tyres {
	font-family: Gotham;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	display: inline-block;
	margin-right: 0.2em;
}

@media screen and (max-width: 767px) {
	.pilot .mark {

	}
	.pilot .number {

	}
}


/***/

@media screen and (max-width: 767px) {
	nav {
		height: auto;
	}

	.promo,
	section {
		padding: 1em;
	}
	#bestlap {
		top: 1em;
		right: 2em;
	}
	.parallax {
		right: -5vw;
		width: 50%;
	}
	section:first-child,
	section.welcome {
		width: auto;
	}
	.races {
		max-width: 52vw;
	}
	.race {
		font-size: .8em;
		line-height: 2em;
	}
	header {
		height: 147px;
		margin-bottom: -147px;
	}
	.lang {
		position: absolute;
		top: auto;
		left: 0;
    	bottom: 0;
		min-height: 0;
		z-index: 9;
	}
	.lang:after {
		content: '';
		position: absolute;
		/*backdrop-filter: blur(6px);*/
		top: -20px;
		left: -20px;
    	bottom: -20px;
		right: -20px;
		z-index: -1;
	}

}

@media screen and (max-width: 598px) {
	.races {
		max-width: 59vw;
	}
}

@media screen and (max-width: 573px) {
	/*
	section:first-child,
	section.welcome {
		width: 12em;
		padding-left: 3em;
	}
	*/
	#bestlap {
		
	}
	.races {
		max-width: 70vw;
	}
}
@media screen and (max-width: 500px) {
	nav:not(.lang) ul {
		display: block;
	}
	nav:not(.lang) ul li {
		display: block;
	}
	header {
		/* overflow: hidden; */
		max-width: 320px;
	}
}

@media screen and (max-width: 415px) {
	nav:not(.lang) ul {
		display: block;
	}
	nav:not(.lang) ul li {
		display: block;
	}
	.promo,
	section {
		width: auto;
	}
	.parallax {
		right: -47vw;
		width: 80%;
	}
	/*section:first-child,*/
	section.welcome {
		width: auto;
		padding-left: 2em;
		margin-left: -3em;
	}
	.races {
		max-width: 80vw;
	}
	.race {
		font-size: .6em;
		line-height: 2.5em;
	}
	fieldset > div > div > div {
		flex: 0 1 40%;
	}
	footer {
		margin: 0;
		width: auto;
	}
}

@media screen and (min-width: 416px) {
	footer {

	}
}

@media screen and (min-width: 1024px) {
	main:after {
		content: '';
		display: block;
		height: 33vh;
	}
	footer {
		text-align: center;
	}
}

.loading1 {
	display: inline-block;
	transform: translateZ(1px);
}
.loading1:after {
	content: '';
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	background: springgreen;
	animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
	0%, 100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	50% {
	  	transform: rotateY(1800deg);
	  	animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
	  	transform: rotateY(3600deg);
	}
}

.loading {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
.loading:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 8px;
	box-sizing: border-box;
	border: 32px solid #fff;
	border-color: dodgerblue transparent dodgerblue transparent;
	animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
	0% {
	  transform: rotate(0);
	  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
	  transform: rotate(900deg);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
	  transform: rotate(1800deg);
	}
}

.supporters {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
    align-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
}

.supporters li {
	margin: 0;
	flex: 1;
	align-items: center;
	text-align: center;
}

.supporters img {
	max-width: 100px;
    max-height: 30px;
}

.attention {
	font-size: 3em;
}

img.poster {
	width: 100%;
	display: block;
}

section.results {
	background: #000;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}